<main>
  <% if @posts.nil? || @posts.empty? %>
    <h1>There are no posts for this user</h1>
  <% else %>
    <%= render partial: 'shared/user_card', object: @user, as: :user %>

    <h1>Here is the list of posts</h1>

    <% @posts.each do |post| %>
      <%= link_to user_post_path(@user, post) do %>
        <%= render partial: 'shared/post_card', locals: { post: post } %>
        <div class="comment-card">
          <% post.recent_comment.each do |comment| %>
            <%= render partial: 'shared/comment_card', locals: { comment: comment, model: @comment, url: user_post_comment_path(@user, post, comment) } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</main>
