/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Tektur:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #08293e;
  color: rgb(233, 195, 100);
  font-family: 'Tektur', cursive;
  width: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 40%;
  height: auto;
  color: #ff9800;
}

h1,
h2,
small {
  color: #e2e9f0;
}

.user-list {
  padding-top: 20px;
  text-align: center;
}

.likes {
  padding: 0 10px;
}

p {
  font-family: 'Tektur', cursive;
  text-align: left;
  margin-top: 1em;
}

a {
  color: rgb(212, 186, 120);
  text-decoration: none;
}

.user-card {
  width: 100%;
  background: rgba(94, 94, 94, 0.5);
  color: #353738;
  border-radius: 50px;
  display: flex;
  margin: 20px 0;
  padding: 20px;
  column-gap: 20px;
}

.img-container {
  width: 30%;
}

.post-user {
  margin: 10px 5px;
  padding: 10px 0;
}

.post-user small {
  color: #3f51b5;
  font-size: 20px;
  padding: 10px 40px;
}

.post-title {
  margin-top: 10px;
  padding: 5px;
}

.user-img {
  width: 100px;
  border-radius: 20px;
  font-size: 20px;
}

.user-post {
  border: #e2e9f0 5px solid;
}

.name-container {
  width: 60%;
}

.user-name {
  font-size: 3em;
}

.count {
  display: block;
  text-align: right;
}

.post-card {
  border-top: 1px solid #78828c;
  border-bottom: 1px solid #78828c;
  padding: 10px 0;
}

.comment-card {
  border-top: 1px solid #050c14;
  padding: 20px 5px;
  margin: 10px auto;
}

.btn {
  background-color: #050c14;
  padding: 9px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
}

.post-show {
  margin: 20px 0;
}

.btn-container-comment {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.comment-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-post {
  padding-bottom: 20px;
}

.input {
  border-radius: 10px;
  margin-top: 20px;
  background-color: #fff;
  color: #050c14;
}

.title {
  margin: 5px;
  padding: 5px;
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.text {
  margin: 5px;
  padding: 5px;
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
}

sign-up-in {
  text-align: center;
  border: 1px solid wheat;
  margin: 50px 0;
  padding: 20px;
}

.sign {
  margin: 20px;
  padding: 10px;
}

.inputs {
  width: 300px;
  padding: 8px;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.error {
  color: red;
}

.actions input {
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-bottom: 20px;
}

.remember_me {
  padding: 10px;
}

.field {
  margin-bottom: 10px;
}
